body {
    background: #343434 !important;
}

.user-container {
    background-color: #1C1C1C;
    color: #a1a1a1;
    padding: 20px 20px;
    border-radius: 15px;
    margin: 100px auto;
}

.user-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    background-color: #3d3d3d;
    cursor: pointer;
}

.user-task:hover {
    background-color: #464646;
}

.user-task:active {
    background-color: #3f3c3c;
}

.user-task div button {
    outline: none !important;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: scaleY(0);
}
.post-enter-active {
    transform: scaleY(1);
    transition: all 300ms ease-in;
}
.post-exit {
    transform: scaleY(1);
}
.post-exit-active {
    transform: scaleY(0);
    transition: all 300ms ease-in;
}
